@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-font--: "Montserrat", sans-serif;
  --text-font--: "Lato", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  height: 100vh;
  width: 100%;
  background-color: rgb(59, 56, 56);
  color: #dbdbdb;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5vw;
  padding: 0 3vw;
  transform: translateY(-100%);
  transition: all 1.7s ease;
  position: absolute;
  z-index: 99;
}

.links-container {
  width: 100%;
}

.logo {
  padding-top: 3vw;
  position: relative;
}

.logo p a {
  color: #dbdbdb;
  text-decoration: none;
  font-size: 6vw;
  font-weight: bold;
  font-family: var(--heading-font--);
}

.links-container ul li a {
  text-decoration: none;
  color: black;
  font-size: 2.2vw;
  font-weight: 700;
  color: #dbdbdb;
}

.links-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70vh;
  padding: 0 2vw;
  list-style: none;
}

.links-container ul li::before {
  content: "\25A0";
  color: #dbdbdb;
  width: 1vw;
  display: inline-block;
  font-size: 1vw;
  position: relative;
  bottom: 0.5vw;
  right: 0.5vw;
}

.links-container ul li a:hover {
  text-decoration: underline;
  border: 1.5px solid transparent;
}

#cross-icon,
#menu-icon {
  position: absolute;
  right: 4vw;
  top: 4vw;
  font-size: 3.5vw;
  cursor: pointer;
}

/* main section start */

main {
  height: 100vh;
  position: relative;
  z-index: 9;
  background-color: pink;
}

.hero-section {
    padding: 2vw 4vw;
    display: flex;
    gap: 2vw;
}

.hero-sect-part1 {
    display: flex;
    /* gap: 3vw; */
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2vw 0;
}

.hero-sect-part1 p {
    font-family: var(--text-font--);
    font-weight: bold;
    font-size: 1.8vw;
}

/* .hero-sect-part1 h1 {
    margin-bottom: 5rem;
} */

.hero-sect-part1 h1 a {
    font-weight: 800;
    font-size: 8vw;
    font-family: var(--heading-font--);
    text-decoration: none;
    color: rgb(68, 66, 66);
}

.hero-sect-part2 {
    font-family: var(--text-font--);
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.image-container {
    width: 95%;
    height: 60vh;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.image-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
}